<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # -------------------------------
    # 🔥 Allow Firebase Service Worker
    # -------------------------------
    RewriteRule ^firebase-messaging-sw\.js$ - [L]

    # -------------------------------
    # Handle Authorization Header
    # -------------------------------
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # -------------------------------
    # Serve existing files & folders
    # -------------------------------
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # -------------------------------
    # Laravel Front Controller
    # -------------------------------
    RewriteRule ^ index.php [L]
</IfModule>

AddType application/javascript .js
